.popupform__close-icon {
  width: calc(2.06vw + 30.17px);
  height: calc(2.06vw + 30.17px);
  /*
  width: calc(1.458vw + 21.33px);
  height: calc(1.458vw + 21.33px);
    */
  margin-left: calc(15.41vw + 232.66px + 1.458vw + 21.33px);
  transform: translateY(calc(-1.03vw - 20.08px));
  z-index: 2;
  background-color: transparent;
  border: 0;
  /*
  position: fixed;
  top: calc(7.72vw + 47.92px);
  left: calc(60.63vw + 70.58px);*/
  background-image: url("../../../images/close-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 400px) {
  .popupform__close-icon {
    margin-left: calc(15.41vw + 232.66px - 1.458vw - 21.33px - 5px);
    margin-bottom: 13.62px;
  }
}

.popupform__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}