.profile__subtitle {
  margin: 0;
  padding: 0;
  height: 18px;
  font-family: Inter;
  font-size: calc(1/240vw + 38/3px);
  font-style: normal;
  font-weight: 400;
  line-height: calc(1/240vw + 47/3px);
  letter-spacing: 0em;
  text-align: left;
  margin-top: 16px;
}

@media all and (max-width: 550px) {
.profile__subtitle {
  margin-top: 14px;
  }
}