.popupform__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: transparent;
  box-sizing: border-box;
  transform: translateY(-calc(1.03vw + 15.08px+5px+7px));
  width: unset;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-radius: unset;
}
