@import url('../vendor/normalize.css');

@import url('../fonts/fonts.css');

@import url('../blocks/content/content.css');

@import url('../blocks/body/body.css');

@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/footer/footer.css');

@import url('../blocks/header/header.css');

@import url('../blocks/popupform/popupform.css');
@import url('../blocks/popupform/__img-close-icon/popupform__img-close-icon.css');
@import url('../blocks/popupform/__text/popupform__text.css');
@import url('../blocks/popupform/__image/popupform__image.css');
@import url('../blocks/popupform/__header/popupform__header.css');
@import url('../blocks/popupform/__form-itself/popupform__form-itself.css');
@import url('../blocks/popupform/__textinput/popupform__textinput.css');
@import url('../blocks/popupform/__save-button/popupform__save-button.css');
@import url('../blocks/popupform/__save-button/popupform__save-button_inactive.css');
@import url('../blocks/popupform/__container/popupform__container.css');
@import url('../blocks/popupform/__close-icon/popupform__close-icon.css');
@import url('../blocks/popupform/_opened/popupform_opened.css');
@import url('../blocks/popupform/__input-error_active/popupform__input-error_active.css');
@import url('../blocks/popupform/__input-type_error/popupform__input-type_error.css');
@import url('../blocks/popupform/__img-container/popupform__img-container.css');

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__subtitle/profile__subtitle.css');
@import url('../blocks/profile/__title/profile__title.css');

@import url('../blocks/logo/logo.css');
@import url('../blocks/page/page.css');

@import url('../blocks/page/__header/page__header.css');
@import url('../blocks/page/__photo-grid/page__photo-grid.css');
@import url('../blocks/page/__footer/page__footer.css');

@import url('../blocks/photo-grid/__item/photo-grid__item.css');
@import url('../blocks/photo-grid/__picture/photo-grid__picture.css');
@import url('../blocks/photo-grid/__text-area/photo-grid__text-area.css');
@import url('../blocks/photo-grid/__text/photo-grid__text.css');
@import url('../blocks/photo-grid/__like/photo-grid__like.css');
@import url('../blocks/photo-grid/__delete/photo-grid__delete.css');
@import url('../blocks/photo-grid/__like/_liked/photo-grid__like_liked.css');
@import url('../blocks/photo-grid/__like-count/photo-grid__like-count.css');
@import url('../blocks/photo-grid/__like-container/photo-grid__like-container.css');
@import url('../blocks/photo-grid/photo-grid.css');

.profile__hover-mask{
	display: none;
  width: 120px;
  height: 120px;
	position: absolute;
	background-position: 50px 50px;
	background-image: url('../images/pencil.svg');
	background-repeat: no-repeat;
	z-index: 10;
  background-color: rgba(0,0,0,0.8);
}

.profile__hover-mask_visible {
  display: block;
}

.profile__img-container{
	position: relative;
	margin-right: 30px;
}

.profile__img-container:hover {
	z-index: 2;
  cursor: pointer;
}

.popupform__edit-image-close-icon {
  width: calc(2.06vw + 30.17px);
  height: calc(2.06vw + 30.17px);
	margin-left: calc(15.41vw + 232.66px + 1.458vw + 21.33px);
  transform: translateY(calc(-1.03vw - 20.08px));
  z-index: 2;
  background-color: transparent;
  border: 0;
  background-image: url("../images/Close-Icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 400px) {
  .popupform__edit-image-close-icon {
    margin-left: calc(15.41vw + 232.66px - 1.458vw - 21.33px - 5px);
    margin-bottom: 13.62px;
  }
}

.popupform__edit-image-close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}