.popupform__container {
  background-color: #FFF;
  color: black;
  box-sizing: border-box;
  padding-left: 36px;
  border-radius: 10px;
  transform: translateY(calc(-1.03vw - 20.08px));
  width: calc(15.41vw + 232.66px);
  height: 330px; 
}

@media all and (max-width: 500px) {
  .popupform__container {
    padding-left: 22px;
    height: 322px;
  }
}