.footer {
  width: calc(62.3vw + 82.66px);
  margin-left: 0px;
}

@media all and (min-width: 1280px) {
  .footer {
    max-width: 880px;
  }
}

@media all and (max-width:500px ) {
  .footer {
    width: 282px;
  }
}
